@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
    /* font-family: Verdana, Helvetica, sans-serif; */
    font-family: 'Quicksand', sans-serif;
    background-color:rgb(215, 210, 203, .5);
}

#gameContainer{
    width: 90%;
    margin: 30px auto;
    padding: 0 30px;
    /* display:grid; */
    /* grid-template-columns:1fr 1.3fr; */
    /* grid-template-rows:.5fr 2fr 1fr; */
}

#questionScreen, #responseScreen, #buttonContainer, #student, #responseScreen {
    text-align: center;
}

#responseScreen {
    width: 49vw;
    font-size: 1.5em;
    border: solid;
    border-color: #000;
    border-radius: 15px;
    background-color:white;
}

#responseScreen > p {
    margin: 20px;
}

#questionScreen {
    border: solid;
    border-color: #000;
    border-radius: 10px;
    margin-bottom: 30px;
    grid-column:1/3;
    background-color:white;
}

#buttonContainer {
    /* display:grid; 
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto; 
     width:45vw;
    margin:0;
    grid-row:2/3;
    grid-column:1/2; */
    margin-bottom: 20px;
}

#librarian {
    margin-bottom: 30px;
    text-align: right;
    /* grid-row:2/4; */
    /* grid-column:2/3; */
    /* margin-top:18em; */
}

#librarian > img {
    width: 30vw;
}

button {
    width: 14vw;
    margin-bottom: 10px;
    padding-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    background-color:white;
    box-shadow:3px 3px  #000000;
    border-radius:15px;
    border:3px solid  #F76902;
}

button > img {
    height: 9vw;
    max-width:80%;
}

button > p {
    color: black;
    font-size: 1.4em;
}

@media only screen and (max-width:1200px){
    button {
        width: 20vw;
    }

    #responseScreen {
        width: 100%;
        display: block;
    }

    #librarian {
        text-align: center;
        margin-top: 20px;
    }

    #librarian > img {
        width: 50vw;
    }
}

@media only screen and (max-width:850px){
    #questionScreen {
        font-size: 0.8em;
    }

    button {
        width: 27vw;
    }

    button > p {
        font-size: 1em;
    }
}