body{
    font-family: Verdana, Helvetica, sans-serif;
}

#gameContainer{
    width: 90%;
    margin: 30px auto;
    padding: 0 30px;
}

#questionScreen, #responseScreen, #buttonContainer, #student, #responseScreen {
    text-align: center;
}

#responseScreen {
    padding-left: 2vw;
    width: 49vw;
    font-size: 1.5em;
    border: solid;
    border-color: #000;
    border-radius: 15px;
    display: inline-block;
}

#responseScreen > p {
    margin: 20px;
    display: inline-block;
}
#questionScreen {
    border: solid;
    border-color: #000;
    border-radius: 10px;
    margin-bottom: 30px;
}

#buttonContainer {
    margin-bottom: 30px;
}

#librarian {
    margin-bottom: 30px;
    text-align: right;
}

#librarian > img {
    width: 30vw;
}

button {
    width: 14vw;
    margin-bottom: 10px;
    padding-top: 20px;
}

button > img {
    height: 9vw;
}

button > p {
    color: black;
    font-size: 1.4em;
}

@media only screen and (max-width:1200px){
    button {
        width: 20vw;
    }

    #responseScreen {
        width: 100%;
        display: block;
    }

    #librarian {
        text-align: center;
        margin-top: 20px;
    }

    #librarian > img {
        width: 50vw;
    }
}

@media only screen and (max-width:850px){
    #questionScreen {
        font-size: 0.8em;
    }

    button {
        width: 25vw;
    }

    button > p {
        font-size: 1em;
    }
}