body{
    font-family: Verdana, Helvetica, sans-serif;
}

#gameContainer{
    width: 90%;
    padding: 0;
    margin: 30px auto;
    padding: 0 30px;
}

#questionScreen, #responseScreen, #buttonContainer, #student, #responseScreen {
    text-align: center;
}

#responseScreen {
    position: relative;
    padding-left: 2vw;
    width: 55vw;
    top: 4vw;
    font-size: 1.5em;
    border: solid;
    border-color: #000;
    border-radius: 15px;
}

#questionScreen {
    border: solid;
    border-color: #000;
    border-radius: 10px;
    margin-bottom: 30px;
}

#buttonContainer {
    margin-bottom: 30px;
}

#librarian {
    margin-bottom: 30px;
    text-align: right;
}

#librarian > img {
    width: 40vw;
}

button {
    width: 14vw;
    margin: 0;
    padding-top: 20px;
}

button > img {
    height: 9vw;
}

button > p {
    color: black;
    font-size: 1.4em;
}

@media only screen and (max-width:1200px){
    button {
        width: 25vw;
    }
}

@media only screen and (max-width:800px){
    #questionScreen {
        font-size: 0.8em;
    }

    button > p {
        font-size: 1em;
    }
}