@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
    font-family: 'Quicksand', sans-serif;
    background-color:rgb(215, 210, 203, .5);
}

#instructionsContainer {
    font-size: 1.4em;
    text-align: center;
}

#questionsRemaining {
    text-align: right;
}

#gameContainer{
    width: 90%;
    margin: 0px auto;
    padding: 0 30px;
}

#questionScreen, #responseScreen, #buttonContainer, #student, #responseScreen {
    text-align: center;
}

#responseScreen {
    width: 49vw;
    font-size: 1.5em;
    border: solid;
    border-color: #000;
    border-radius: 15px;
    background-color:white;
}

#responseScreen > p {
    margin: 20px;
}

#questionScreen {
    border: solid;
    border-color: #000;
    border-radius: 10px;
    margin-bottom: 30px;
    grid-column:1/3;
    background-color:white;
}

#buttonContainer {
    margin-bottom: 20px;
}

#librarian {
    margin-bottom: 30px;
    text-align: right;
}

#librarian > img {
    width: 30vw;
}

#student {
    text-align: right;
    position: relative;
    right: 3%;
    bottom: 17vw;
    animation-name: walkToDeskDesktop;
    animation-duration: 1s;
}

#student > img {
    margin-top: 2vw;
    width: 10vw;
}

#studentMessageWrapper {
    text-align: right;
    margin: 0;
}

#studentMessage {
    font-size: 3em;
    background-color: white;
    display: inline;
    border: solid black;
    border-radius: 7px;
    margin-right: 4vw;
    padding: 9px;
    font-weight: bold;
}

button {
    width: 14vw;
    margin-bottom: 10px;
    padding-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    background-color:white;
    box-shadow:3px 3px  #000000;
    border-radius:15px;
    border:3px solid  #F76902;
}

button > img {
    height: 9vw;
    max-width:80%;
}

button > p {
    color: black;
    font-size: 1.4em;
}

#nextButton {
    padding: 0;
    vertical-align: middle;
}

@keyframes walkToDeskDesktop {
    0% {right: 0;}
    100% {right: 3%;}
}

@keyframes walkFromDeskDesktop {
    0% {right: 3%;}
    100% {right: 100%;}
}

@media only screen and (max-width:1200px){
    button {
        width: 20vw;
    }

    #responseScreen {
        width: 100%;
        display: block;
    }

    #librarian {
        text-align: center;
        margin-top: 20px;
    }

    #librarian > img {
        width: 50vw;
    }

    #student {
        bottom: 25vw;
        right: 25%;
    }

    #student > img{
        width: 14vw;
    }

    #studentMessage {
        font-size: 2em;
    }

    @keyframes walkToDeskDesktop {
        0% {right: 0;}
        100% {right: 25%;}
    }
}

@media only screen and (max-width:850px){
    #questionScreen {
        font-size: 0.8em;
    }

    button {
        width: 27vw;
        padding: 0;
    }

    button > p {
        font-size: 1em;
        padding: 0;
        vertical-align: middle;
    }

    button > img {
        display: none;
    }

    #studentMessage {
        font-size: 1em;
    }
}